<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" parallel="tests" thread-count="2" verbose="10">
    <test name="test">
        <classes>
            <class name="annotations.TestNGAnnotation_1"/>
            <class name="annotations.TestNGAnnotation_2"/>
        </classes>
    </test>
</suite>
